@font-face {
    font-family: 'Planet Comic';
    src: url('PlanetComic.eot');
    src: local('Planet Comic'), local('PlanetComic'),
        url('PlanetComic.eot?#iefix') format('embedded-opentype'),
        url('PlanetComic.woff2') format('woff2'),
        url('PlanetComic.woff') format('woff'),
        url('PlanetComic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

